<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="socket.io/socket.io.js"></script>
</head>

<body>
  <div id="app">
    <div id="content">

    </div>

    <button id="btn-send">Send</button>
  </div>
  <script>
    var socket = io("http://localhost:3000");
    socket.on("server-send-all", function(data){
      console.log(data);
    });

    document.addEventListener("DOMContentLoaded", function (event) {
      var app = document.getElementById('app');
      var btnSend = document.getElementById("btn-send");
      btnSend.addEventListener("click", function(){
        socket.emit("client-send-all", "Hello world!");
      })
    });
  </script>
</body>

</html>